/***************************************************************************
                    INDEX LAYOUT PAGE
/***************************************************************************/
/* Organize CSS rules as follows:

    Display Stuff (grid/flex/inline)
    Dimensions (width and height)
    Margin/Padding
    Background
    Radius/Border/Outline
    Typography
    Additional Misc Stuff

*/

.hero-section {
  height: 100vh;
  background: var(--gradient-main);
}

.desktop-hero-piece {
  display: none;
}

.portfolio-section {
  overflow-x: hidden;
}

.portfolio-section > .title {
  text-align: center;
  color: var(--solid-lightblue);
  margin: 2rem;
}

@media (min-width: 1000px) {
  .hero-section {
    background: url(/assets/11.jpg);
    background-position: center;
    background-size: cover;
  }

  .mobile-hero-piece {
    display: none;
  }
  .desktop-hero-piece {
    display: grid;
  }
  .portfolio-item-grid {
    display: flex;
    flex: 1;
    animation: slide-left 33s infinite linear;
  }
  @keyframes slide-right {
    0% {
      transform: translatex(0px);
    }
    100% {
      transform: translatex(3042px);
    }
  }
  @keyframes slide-left {
    0% {
      transform: translatex(3042px);
    }
    100% {
      transform: translatex(0px);
    }
  }
}
