/* Organize CSS rules as follows:

    Display Stuff (grid/flex/inline)
    Dimensions (width and height)
    Margin/Padding
    Background
    Radius/Border/Outline
    Typography
    Additional Misc Stuff

*/

.portfolio-item-grid {
  display: grid;
  grid-template-columns: 1;
  place-content: center;
}

.item {
  padding: 1rem;
  margin: 3rem;
}

.portfolio-item-grid .mobile {
  display: none;
}

.item__pic {
  height: 8rem;
  width: 15rem;
  margin: auto;
  border-radius: 1rem;
}
@media (min-width: 800px) {
  .item__pic {
    height: 10rem;
    width: 20rem;
  }
}
@media (min-width: 1000px) {
  .item__pic {
    height: 20rem;
    width: 30rem;
  }

  .portfolio-item-grid .mobile {
    display: block;
  }
}

.item__desc {
  max-width: 25rem;
  margin: 1rem auto;
}

.item--tetris .item__pic {
  background: url(/assets/Tetris\ Clone.png);
  background-position: center;
  background-size: cover;
}

.item--airplane .item__pic {
  background: url(/assets/airplanestats.jpg);
  background-position: center;
  background-size: cover;
}

.item--eclipse .item__pic {
  background: url(/assets/astro.png);
  background-position: center;
  background-size: cover;
}
.item--todoapp .item__pic {
  background: url(/assets/todo.png);
  background-position: center;
  background-size: cover;
}
.item--previousportfolio .item__pic {
  background: url(/assets/portfolio.png);
  background-position: center;
  background-size: cover;
}


.item--violin .item__pic {
  background: url(/assets/violin.png);
  background-position: center;
  background-size: cover;
}

.item--coffeehaus .item__pic {
  background: url(/assets/coffeehaus.PNG);
  background-position: left;
  background-size: cover;
}

.item--behindchange .item__pic {
  background: url(/assets/behindchange.png);
  background-position: center;
  background-size: cover;
}
